@{
    ViewBag.Title = "Confirmation Page";
}

@model BestRestaurant.Models.ApplicationResponse

    <div class="text-center">

        <h2>Congratulations! You successfully added a new restaurant.</h2>

        <br />

        <a asp-action="ReccomendationList" class="btn btn-primary">See Added Restaurants</a>

    </div>
<br />
<br />