@{
ViewBag.Title = "Provo's Top 5 Restaurants";
}
<div class="text-center">
    <h4>These Restaurants are truely the best</h4>
    <img src="~/img/rancheritos.jpeg" width="500" class="rounded"/>

    <br /><br />

    <a class="btn btn-primary" asp-action="RestaurantList">View the List</a>
    <!--<a class="btn btn-primary">Add</a> Restaurant to our database-->
</div>
<br />
<br />
