@{
    ViewBag.Title = "Provo's Top 5 Restaurants";
}
@model IEnumerable<string>
<div class="text-center">
    <h4>These Restaurants are truely the best</h4>
    <img src="~/img/rancheritos.jpeg" width="500" class="rounded" />

    <br /><br />
</div>
<br />
<div class="list-group text-center">
    <ul>
        @foreach (string i in Model)
        {
            <li class="list-group-item">
                @i
            </li>
        }
    </ul>
</div>
<a class="btn btn-primary" asp-action="RestaurantList">View the List</a>

<br />
