@{
    ViewBag.Title = "List of Added Restaurants:";
}

@model IEnumerable<BestRestaurant.Models.ApplicationResponse>
<br />
<div class="list-group text-center">
    <table>
        <thead>
            <tr><th>Name</th><th>Restaurant Name</th><th>FavDish</th><th>Phone Number</th></tr>
        </thead>
        <tbody>
                <!-- This is a for loop that iterates through the IEnumerable. It also contains an if statement not allowing the display of the Movie "Indepence Day"-->
                @foreach (BestRestaurant.Models.ApplicationResponse x in Model)
                {
                    <tr>
                        <td>@x.myName</td>
                        <td>@x.myRestaurantName</td>
                        <td>@x.myFavDish</td>
                        <td>@x.myPhoneNumber</td>
                    </tr>
                }
        </tbody>
    </table>
</div>
<br />
<div class="text-center">
    <a class="btn btn-primary" asp-action="Index">Go Back Home</a>
</div>
<br />
<br />